body {
  background-color: rgb(158, 210, 255);
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 28px;
  font-family: Georgia, serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

p {
  font-size: 20px;
  font-family: Georgia, serif;
  color: rgb(67, 90, 205);
}
