body {
  background-color: rgb(158, 210, 255);
}

header {
  background-color: rgb(102, 123, 186);
}

h1 {
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: 40px;
  font-family: Bivoac, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

h2 {
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: 28px;
  font-family: Bivoac, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

p {
  font-size: 20px;
  font-family: Bivoac, sans-serif;
  color: rgb(67, 90, 205);
}

ul {
  list-style-type: none;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5976af;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 0px 6px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  background-color: #5976af;
  display: block;
}

.sidebar a:hover {
  background-color: rgb(110, 142, 208);
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
